.deposit-certificate-detail {
  padding: 10px;
  :global {
    .ant-input-borderless[disabled] {
      color: rgba(0, 0, 0, 0.88);
    }
  }
}
.certificate-width {
  :global {
    .ant-form-item-row {
      width: 200px;
    }
  }
}
.agent-width {
  :global {
    .ant-form-item-row {
      // width: 100%;
      margin-bottom: 3px;
    }
    .ant-form-item-label {
      // width: 75px;
    }
  }
}

.print-content {
  font-family: "Hiragino Sans GB";
  color: black;
  width: 16cm;
  height: 9.31cm;
  font-size: 14px;
  line-height: 20px;
  .no-show {
    color: red;
  }
  .item-title {
    color: red;
    width: 2cm;
  }
  .line {
    display: flex;
    align-items: center;
    height: 1cm;
    .room-no,
    .ca-no,
    .start-year,
    .end-year {
      width: 2.5cm;
      display: inline-block;
      text-align: center;
    }
    .ca-no {
      width: 2cm;
    }
  }

  .title {
    text-align: center;
    color: red;
  }
  .time {
    margin-top: 1cm;
    text-align: center;
    span {
      width: 40px;
      display: inline-block;
    }
    .year-font,
    .month-font,
    .day-font {
      color: red;
    }
  }
  .item-one,
  .item-two {
    width: 3cm;
  }
  .money > div {
    width: 33%;
  }
  .charge-man {
    p {
      width: 30%;
    }
  }
}

@media print {
  .print-content {
    font-family: "Hiragino Sans GB";
    color: black;
    width: 16cm;
    height: 9.31cm;
    font-size: 14px;
    line-height: 20px;
    padding-left: 3cm;
    .no-show {
      opacity: 0;
    }
    .jin-e {
      width: 1cm;
    }

    .item-title {
      color: red;
      width: 2cm;
      opacity: 0;
    }
    .line {
      display: flex;
      align-items: center;
      height: 1cm;
      .room-no,
      .start-year,
      .end-year {
        width: 2.5cm;
        display: inline-block;
        text-align: center;
      }
      .ca-no {
        width: 2cm;
      }
    }

    .title {
      text-align: center;
      opacity: 0;
      color: red;
    }
    .time {
      margin-top: 1cm;
      text-align: center;
      span {
        width: 40px;
        display: inline-block;
      }
      .year-font,
      .month-font,
      .day-font {
        color: red;
        opacity: 0;
      }
    }
    .item-one,
    .item-two {
      width: 3cm;
    }
    .money > div {
      width: 33%;
    }
    .charge-man {
      p {
        width: 30%;
      }
    }
  }
}
